USE [DayHocTrucTuyen]
GO
/****** Object:  Table [dbo].[BaiDang]    Script Date: 11/15/2024 5:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiDang](
	[Ma_Bai] [char](15) NOT NULL,
	[Ma_Lop] [char](11) NULL,
	[Ma_ND] [char](7) NULL,
	[Thoi_Gian] [datetime] NOT NULL,
	[Noi_Dung] [nvarchar](500) NULL,
	[Dinh_Kem] [varchar](1000) NULL,
	[Trang_Thai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_Bai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoCao]    Script Date: 11/15/2024 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCao](
	[Ma_Bao_Cao] [char](10) NOT NULL,
	[Ma_ND] [char](7) NULL,
	[Chi_Muc] [varchar](15) NOT NULL,
	[Noi_Dung] [nvarchar](150) NOT NULL,
	[Ghi_Chu] [nvarchar](500) NULL,
	[Thoi_Gian] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_Bao_Cao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BiCamThi]    Script Date: 11/15/2024 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BiCamThi](
	[Ma_ND] [char](7) NOT NULL,
	[Ma_Phong] [char](15) NOT NULL,
	[Ly_Do] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_ND] ASC,
	[Ma_Phong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 11/15/2024 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuan](
	[Ma_Bai] [char](15) NOT NULL,
	[Ma_ND] [char](7) NOT NULL,
	[Thoi_Gian] [datetime] NOT NULL,
	[Noi_Dung] [nvarchar](500) NULL,
	[Dinh_Kem] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_Bai] ASC,
	[Ma_ND] ASC,
	[Thoi_Gian] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CamXuc]    Script Date: 11/15/2024 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CamXuc](
	[Ma_ND] [char](7) NOT NULL,
	[Ma_Bai] [char](15) NOT NULL,
	[Thoi_Gian] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_ND] ASC,
	[Ma_Bai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CauHoiThi]    Script Date: 11/15/2024 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHoiThi](
	[STT] [int] NOT NULL,
	[Ma_Phong] [char](15) NOT NULL,
	[Cau_Hoi] [nvarchar](500) NOT NULL,
	[Loi_Giai] [nvarchar](100) NOT NULL,
	[Dap_An] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[STT] ASC,
	[Ma_Phong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CauTraLoi]    Script Date: 11/15/2024 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauTraLoi](
	[STT] [int] NOT NULL,
	[Ma_Phong] [char](15) NOT NULL,
	[Ma_ND] [char](7) NOT NULL,
	[Lan_Thu] [int] NOT NULL,
	[Dap_An] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[STT] ASC,
	[Ma_Phong] ASC,
	[Ma_ND] ASC,
	[Lan_Thu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGiaLop]    Script Date: 11/15/2024 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGiaLop](
	[Ma_DG] [char](15) NOT NULL,
	[Ma_ND] [char](7) NULL,
	[Ma_Lop] [char](11) NULL,
	[Muc_Do] [int] NOT NULL,
	[Ghi_Chu] [nvarchar](500) NULL,
	[Thoi_Gian] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_DG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ghim]    Script Date: 11/15/2024 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ghim](
	[Ma_Bai] [char](15) NOT NULL,
	[Thoi_Gian] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_Bai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoiNangCap]    Script Date: 11/15/2024 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoiNangCap](
	[Ma_Goi] [int] NOT NULL,
	[Ten_Goi] [nvarchar](10) NOT NULL,
	[Gia_Tien] [float] NOT NULL,
	[Hieu_Luc] [int] NOT NULL,
	[Mo_Ta] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_Goi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocSinhThuocLop]    Script Date: 11/15/2024 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocSinhThuocLop](
	[Ma_ND] [char](7) NOT NULL,
	[Ma_Lop] [char](11) NOT NULL,
	[Ngay_Tham_Gia] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_ND] ASC,
	[Ma_Lop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuGiaoDich]    Script Date: 11/15/2024 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuGiaoDich](
	[Ma_ND] [char](7) NOT NULL,
	[Thoi_Gian] [datetime] NOT NULL,
	[Thu_Vao] [bit] NOT NULL,
	[So_Tien] [float] NOT NULL,
	[So_Du] [float] NOT NULL,
	[Ghi_Chu] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_ND] ASC,
	[Thoi_Gian] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuTruyCap]    Script Date: 11/15/2024 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuTruyCap](
	[Thoi_Gian] [datetime] NOT NULL,
	[Ma_ND] [char](7) NULL,
	[Ma_Lop] [char](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[Thoi_Gian] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiND]    Script Date: 11/15/2024 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiND](
	[Ma_Loai] [char](2) NOT NULL,
	[Ten_Loai] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_Loai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHoc]    Script Date: 11/15/2024 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHoc](
	[Ma_Lop] [char](11) NOT NULL,
	[Ma_ND] [char](7) NULL,
	[Ngay_Tao] [datetime] NOT NULL,
	[Ten_Lop] [nvarchar](40) NOT NULL,
	[Bi_Danh] [varchar](20) NULL,
	[Gia_Tien] [float] NOT NULL,
	[Mo_Ta] [nvarchar](300) NULL,
	[Trang_Thai] [bit] NOT NULL,
	[Img_Bia] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_Lop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopThuocTag]    Script Date: 11/15/2024 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopThuocTag](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ma_Tag] [char](5) NULL,
	[Ma_Lop] [char](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 11/15/2024 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[Ma_ND] [char](7) NOT NULL,
	[Ma_Loai] [char](2) NULL,
	[Ho_Lot] [nvarchar](20) NULL,
	[Ten] [nvarchar](7) NOT NULL,
	[Ngay_Sinh] [datetime] NULL,
	[Gioi_Tinh] [int] NULL,
	[SDT] [varchar](11) NULL,
	[Email] [varchar](50) NOT NULL,
	[Mat_Khau] [varchar](32) NOT NULL,
	[Img_Avt] [varchar](100) NULL,
	[Img_BG] [varchar](100) NULL,
	[Trang_Thai] [bit] NOT NULL,
	[Mo_Ta] [nvarchar](300) NULL,
	[Ngay_Tao] [datetime] NOT NULL,
	[Bi_Danh] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_ND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PheDuyet]    Script Date: 11/15/2024 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PheDuyet](
	[Ma_ND] [char](7) NOT NULL,
	[Ngay_Dang_Ky] [datetime] NOT NULL,
	[Trang_Thai] [bit] NOT NULL,
	[Ghi_Chu] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_ND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongThi]    Script Date: 11/15/2024 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongThi](
	[Ma_Phong] [char](15) NOT NULL,
	[Ma_Lop] [char](11) NULL,
	[Ten_Phong] [nvarchar](50) NOT NULL,
	[Ngay_Tao] [datetime] NOT NULL,
	[Mat_Khau] [varchar](50) NULL,
	[Ngay_Mo] [datetime] NOT NULL,
	[Ngay_Dong] [datetime] NOT NULL,
	[Luot_Thi] [int] NOT NULL,
	[Xem_Lai] [bit] NOT NULL,
	[Thoi_Luong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_Phong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 11/15/2024 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[Ma_Tag] [char](5) NOT NULL,
	[Ten_Tag] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_Tag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThichTrang]    Script Date: 11/15/2024 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThichTrang](
	[Ma_YT] [char](15) NOT NULL,
	[Nguoi_Dung] [char](7) NULL,
	[Nguoi_Thich] [char](7) NULL,
	[Thoi_Gian] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_YT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThoiGianLamBai]    Script Date: 11/15/2024 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThoiGianLamBai](
	[Ma_ND] [char](7) NOT NULL,
	[Ma_Phong] [char](15) NOT NULL,
	[Lan_Thu] [int] NOT NULL,
	[Bat_Dau] [datetime] NOT NULL,
	[Ket_Thuc] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_ND] ASC,
	[Ma_Phong] ASC,
	[Lan_Thu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 11/15/2024 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[Ma_TB] [char](5) NOT NULL,
	[Ma_ND] [char](7) NOT NULL,
	[Loai_TB] [varchar](10) NOT NULL,
	[Tieu_De] [nvarchar](20) NOT NULL,
	[Noi_Dung] [nvarchar](500) NULL,
	[Thoi_Gian] [datetime] NOT NULL,
	[Trang_Thai] [bit] NOT NULL,
	[Lien_Ket] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_TB] ASC,
	[Ma_ND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinNhan]    Script Date: 11/15/2024 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinNhan](
	[ID] [int] NOT NULL,
	[Nguoi_Gui] [char](7) NULL,
	[Nguoi_Nhan] [char](7) NULL,
	[Thoi_Gian] [datetime] NOT NULL,
	[Noi_Dung] [nvarchar](500) NOT NULL,
	[Trang_Thai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThaiNangCap]    Script Date: 11/15/2024 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThaiNangCap](
	[Ma_ND] [char](7) NOT NULL,
	[Ma_Goi] [int] NULL,
	[Ngay_Dang_Ky] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_ND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ViNguoiDung]    Script Date: 11/15/2024 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ViNguoiDung](
	[Ma_ND] [char](7) NOT NULL,
	[So_Du] [float] NOT NULL,
	[Ngay_Mo] [datetime] NOT NULL,
	[Trang_Thai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_ND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XemTrang]    Script Date: 11/15/2024 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XemTrang](
	[Ma_XT] [char](15) NOT NULL,
	[Nguoi_Dung] [char](7) NULL,
	[Nguoi_Xem] [char](7) NULL,
	[Thoi_Gian] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_XT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YeuCauThanhToan]    Script Date: 11/15/2024 5:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeuCauThanhToan](
	[Ma_ND] [char](7) NOT NULL,
	[Loai_Thanh_Toan] [varchar](20) NOT NULL,
	[So_Tai_Khoan] [varchar](20) NULL,
	[So_Tien] [float] NOT NULL,
	[Trang_Thai] [int] NOT NULL,
	[Thoi_Gian] [datetime] NOT NULL,
	[Ghi_Chu] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_ND] ASC,
	[Thoi_Gian] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BaiDang] ([Ma_Bai], [Ma_Lop], [Ma_ND], [Thoi_Gian], [Noi_Dung], [Dinh_Kem], [Trang_Thai]) VALUES (N'fpv-gnj-laj-001', N'fpv-gnj-laj', N'U000002', CAST(N'2022-04-20T09:39:43.323' AS DateTime), N'Bài đăng nhiều ảnh', N'fpv-gnj-laj-001-1554969988_hinh-nen-4k-tuyet-dep-cho-may-tinh-08.png,fpv-gnj-laj-001-anh-hoa-oai-huong-dep.png,fpv-gnj-laj-001-bien-dao-co-to.png,fpv-gnj-laj-001-doi-mong-mo-1.png,fpv-gnj-laj-001-ec6b2b877f7a20be4ab082f317fd8a3d.png', 1)
INSERT [dbo].[BaiDang] ([Ma_Bai], [Ma_Lop], [Ma_ND], [Thoi_Gian], [Noi_Dung], [Dinh_Kem], [Trang_Thai]) VALUES (N'fpv-gnj-laj-002', N'fpv-gnj-laj', N'U000002', CAST(N'2022-04-20T09:46:17.527' AS DateTime), N'Bài đăng 1 ảnh', N'fpv-gnj-laj-002-bien-dao-co-to.png', 1)
INSERT [dbo].[BaiDang] ([Ma_Bai], [Ma_Lop], [Ma_ND], [Thoi_Gian], [Noi_Dung], [Dinh_Kem], [Trang_Thai]) VALUES (N'fpv-gnj-laj-003', N'fpv-gnj-laj', N'U000006', CAST(N'2022-04-20T09:47:55.790' AS DateTime), N'Bài đăng này được ghim nhé', NULL, 0)
GO
INSERT [dbo].[BaoCao] ([Ma_Bao_Cao], [Ma_ND], [Chi_Muc], [Noi_Dung], [Ghi_Chu], [Thoi_Gian]) VALUES (N'taetyLnqBU', N'U000012', N'svp-aku-qgd', N'Mạo danh người khác', NULL, CAST(N'2024-11-07T21:20:15.840' AS DateTime))
GO
INSERT [dbo].[BinhLuan] ([Ma_Bai], [Ma_ND], [Thoi_Gian], [Noi_Dung], [Dinh_Kem]) VALUES (N'fpv-gnj-laj-002', N'U000006', CAST(N'2022-04-20T09:51:19.837' AS DateTime), N'ảnh đẹp', NULL)
INSERT [dbo].[BinhLuan] ([Ma_Bai], [Ma_ND], [Thoi_Gian], [Noi_Dung], [Dinh_Kem]) VALUES (N'tep-bje-sma-004', N'U000002', CAST(N'2022-11-25T10:21:39.910' AS DateTime), N'xccxc
', NULL)
GO
INSERT [dbo].[CamXuc] ([Ma_ND], [Ma_Bai], [Thoi_Gian]) VALUES (N'U000001', N'fpv-gnj-laj-002', CAST(N'2022-11-19T20:05:58.840' AS DateTime))
INSERT [dbo].[CamXuc] ([Ma_ND], [Ma_Bai], [Thoi_Gian]) VALUES (N'U000001', N'tep-bje-sma-001', CAST(N'2022-04-15T21:29:52.387' AS DateTime))
INSERT [dbo].[CamXuc] ([Ma_ND], [Ma_Bai], [Thoi_Gian]) VALUES (N'U000002', N'fpv-gnj-laj-001', CAST(N'2022-04-20T09:52:07.393' AS DateTime))
GO
INSERT [dbo].[CauHoiThi] ([STT], [Ma_Phong], [Cau_Hoi], [Loi_Giai], [Dap_An]) VALUES (1, N'fpv-gnj-laj-001', N'Lớp học tên gì?', N'Lập trình web nâng cao', N'Lập trình web\Lập trình web căn bản\Lập trình web nâng cao\Lập trình web cơ sở')
INSERT [dbo].[CauHoiThi] ([STT], [Ma_Phong], [Cau_Hoi], [Loi_Giai], [Dap_An]) VALUES (1, N'fpv-gnj-laj-002', N'Công nghệ sử dụng cho luận văn là gì?', N'.Net MVC\.Net Core', N'.Net MVC\PHP\.Net Core\Python')
INSERT [dbo].[CauHoiThi] ([STT], [Ma_Phong], [Cau_Hoi], [Loi_Giai], [Dap_An]) VALUES (1, N'fpv-gnj-laj-003', N'demo 1', N'a\v', N'a\v\d\f')
GO
INSERT [dbo].[CauTraLoi] ([STT], [Ma_Phong], [Ma_ND], [Lan_Thu], [Dap_An]) VALUES (1, N'fpv-gnj-laj-001', N'U000002', 1, N'Lập trình web nâng cao')
INSERT [dbo].[CauTraLoi] ([STT], [Ma_Phong], [Ma_ND], [Lan_Thu], [Dap_An]) VALUES (1, N'fpv-gnj-laj-001', N'U000002', 2, N'Lập trình web nâng cao')
INSERT [dbo].[CauTraLoi] ([STT], [Ma_Phong], [Ma_ND], [Lan_Thu], [Dap_An]) VALUES (1, N'ies-hgf-pcr-001', N'U000013', 1, N'c++')
GO
INSERT [dbo].[DanhGiaLop] ([Ma_DG], [Ma_ND], [Ma_Lop], [Muc_Do], [Ghi_Chu], [Thoi_Gian]) VALUES (N'juEHjqQmxulPPyp', N'U000002', N'fpv-gnj-laj', 4, NULL, CAST(N'2022-11-25T10:38:05.217' AS DateTime))
INSERT [dbo].[DanhGiaLop] ([Ma_DG], [Ma_ND], [Ma_Lop], [Muc_Do], [Ghi_Chu], [Thoi_Gian]) VALUES (N'KXrWZPehshKEkZx', N'U000001', N'fpv-gnj-laj', 4, N'Lớp học xịn', CAST(N'2022-11-23T21:13:58.863' AS DateTime))
GO
INSERT [dbo].[Ghim] ([Ma_Bai], [Thoi_Gian]) VALUES (N'fpv-gnj-laj-002', CAST(N'2022-04-20T09:50:56.757' AS DateTime))
INSERT [dbo].[Ghim] ([Ma_Bai], [Thoi_Gian]) VALUES (N'fpv-gnj-laj-003', CAST(N'2022-04-20T09:48:47.153' AS DateTime))
INSERT [dbo].[Ghim] ([Ma_Bai], [Thoi_Gian]) VALUES (N'kge-gbn-vdl-004', CAST(N'2022-12-11T10:06:59.450' AS DateTime))
GO
INSERT [dbo].[GoiNangCap] ([Ma_Goi], [Ten_Goi], [Gia_Tien], [Hieu_Luc], [Mo_Ta]) VALUES (1, N'Vip', 10000, 1, N'Gói nâng cấp thân thiết')
INSERT [dbo].[GoiNangCap] ([Ma_Goi], [Ten_Goi], [Gia_Tien], [Hieu_Luc], [Mo_Ta]) VALUES (2, N'SVip', 30000, 6, N'Gói nâng cấp tin cậy')
INSERT [dbo].[GoiNangCap] ([Ma_Goi], [Ten_Goi], [Gia_Tien], [Hieu_Luc], [Mo_Ta]) VALUES (3, N'Premium', 50000, 12, N'Gói nâng cấp tri kỷ')
GO
INSERT [dbo].[HocSinhThuocLop] ([Ma_ND], [Ma_Lop], [Ngay_Tham_Gia]) VALUES (N'U000001', N'fpv-gnj-laj', CAST(N'2022-11-19T20:20:33.250' AS DateTime))
INSERT [dbo].[HocSinhThuocLop] ([Ma_ND], [Ma_Lop], [Ngay_Tham_Gia]) VALUES (N'U000001', N'mfo-chj-hta', CAST(N'2022-11-24T10:22:27.767' AS DateTime))
INSERT [dbo].[HocSinhThuocLop] ([Ma_ND], [Ma_Lop], [Ngay_Tham_Gia]) VALUES (N'U000002', N'fpv-gnj-laj', CAST(N'2022-11-25T10:30:21.760' AS DateTime))
GO
INSERT [dbo].[LichSuGiaoDich] ([Ma_ND], [Thoi_Gian], [Thu_Vao], [So_Tien], [So_Du], [Ghi_Chu]) VALUES (N'U000001', CAST(N'2022-11-19T02:03:51.040' AS DateTime), 1, 109191, 109191, N'Nhận tiền từ quà tặng.')
INSERT [dbo].[LichSuGiaoDich] ([Ma_ND], [Thoi_Gian], [Thu_Vao], [So_Tien], [So_Du], [Ghi_Chu]) VALUES (N'U000001', CAST(N'2022-11-19T02:40:44.667' AS DateTime), 0, 10000, 99191, N'Thực hiện rút tiền về tài khoản MoMo')
INSERT [dbo].[LichSuGiaoDich] ([Ma_ND], [Thoi_Gian], [Thu_Vao], [So_Tien], [So_Du], [Ghi_Chu]) VALUES (N'U000001', CAST(N'2022-11-19T02:56:02.337' AS DateTime), 1, 10000, 109191, N'Hoàn tiền do yêu cầu lúc 11/19/2022 2:40 AM bị từ chối')
GO
INSERT [dbo].[LichSuTruyCap] ([Thoi_Gian], [Ma_ND], [Ma_Lop]) VALUES (CAST(N'2022-11-15T18:02:14.777' AS DateTime), N'U000001', N'fpv-gnj-laj')
INSERT [dbo].[LichSuTruyCap] ([Thoi_Gian], [Ma_ND], [Ma_Lop]) VALUES (CAST(N'2022-11-15T18:06:06.953' AS DateTime), N'U000001', N'tep-bje-sma')
INSERT [dbo].[LichSuTruyCap] ([Thoi_Gian], [Ma_ND], [Ma_Lop]) VALUES (CAST(N'2022-11-15T18:17:07.040' AS DateTime), N'U000003', N'ajg-atv-ims')
GO
INSERT [dbo].[LoaiND] ([Ma_Loai], [Ten_Loai]) VALUES (N'01', N'Admin')
INSERT [dbo].[LoaiND] ([Ma_Loai], [Ten_Loai]) VALUES (N'02', N'Giáo viên')
INSERT [dbo].[LoaiND] ([Ma_Loai], [Ten_Loai]) VALUES (N'03', N'Học sinh')
GO
INSERT [dbo].[LopHoc] ([Ma_Lop], [Ma_ND], [Ngay_Tao], [Ten_Lop], [Bi_Danh], [Gia_Tien], [Mo_Ta], [Trang_Thai], [Img_Bia]) VALUES (N'ajg-atv-ims', N'U000001', CAST(N'2022-04-14T23:45:33.100' AS DateTime), N'Test chương trình', N'ajg-atv-ims', 0, N'Lớp học tạo ra để kiểm tra các tính năng', 1, N'ajg-atv-ims-101.png')
INSERT [dbo].[LopHoc] ([Ma_Lop], [Ma_ND], [Ngay_Tao], [Ten_Lop], [Bi_Danh], [Gia_Tien], [Mo_Ta], [Trang_Thai], [Img_Bia]) VALUES (N'atk-spu-upa', N'U000002', CAST(N'2022-12-11T11:38:29.337' AS DateTime), N'AI không khó', N'atk-spu-upa', 0, N'Đào tạo kiến thức AI căn bản, buils 1 con AI giúp bán hàng nhanh.', 1, NULL)
INSERT [dbo].[LopHoc] ([Ma_Lop], [Ma_ND], [Ngay_Tao], [Ten_Lop], [Bi_Danh], [Gia_Tien], [Mo_Ta], [Trang_Thai], [Img_Bia]) VALUES (N'eep-phg-aop', N'U000004', CAST(N'2022-12-11T11:48:36.903' AS DateTime), N'AI thật dễ? Tại sao không?', N'eep-phg-aop', 0, NULL, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[LopThuocTag] ON 

INSERT [dbo].[LopThuocTag] ([Id], [Ma_Tag], [Ma_Lop]) VALUES (1, N'CT001', N'ajg-atv-ims')
INSERT [dbo].[LopThuocTag] ([Id], [Ma_Tag], [Ma_Lop]) VALUES (3, N'CT001', N'mfo-chj-hta')
INSERT [dbo].[LopThuocTag] ([Id], [Ma_Tag], [Ma_Lop]) VALUES (5, N'CT002', N'ajg-atv-ims')
SET IDENTITY_INSERT [dbo].[LopThuocTag] OFF
GO
INSERT [dbo].[NguoiDung] ([Ma_ND], [Ma_Loai], [Ho_Lot], [Ten], [Ngay_Sinh], [Gioi_Tinh], [SDT], [Email], [Mat_Khau], [Img_Avt], [Img_BG], [Trang_Thai], [Mo_Ta], [Ngay_Tao], [Bi_Danh]) VALUES (N'U000001', N'01', N'Khánh', N'Băng', NULL, NULL, NULL, N'trieukhanhbang123@gmail.com', N'E10ADC3949BA59ABBE56E057F20F883E', N'avt-U000001-593.jpg', N'bg-U000001-205.jpg', 1, NULL, CAST(N'2022-03-27T17:54:25.220' AS DateTime), N'U000001')
INSERT [dbo].[NguoiDung] ([Ma_ND], [Ma_Loai], [Ho_Lot], [Ten], [Ngay_Sinh], [Gioi_Tinh], [SDT], [Email], [Mat_Khau], [Img_Avt], [Img_BG], [Trang_Thai], [Mo_Ta], [Ngay_Tao], [Bi_Danh]) VALUES (N'U000002', N'02', N'Lâm Linh', N'Tuyết', CAST(N'2022-11-25T00:00:00.000' AS DateTime), 2, N'01234567899', N'linhtuyet@gmail.com', N'E10ADC3949BA59ABBE56E057F20F883E', N'avt-U000002-478.jpg', N'bg-U000002-725.jpg', 1, NULL, CAST(N'2022-04-05T18:37:51.557' AS DateTime), N'U000002')
INSERT [dbo].[NguoiDung] ([Ma_ND], [Ma_Loai], [Ho_Lot], [Ten], [Ngay_Sinh], [Gioi_Tinh], [SDT], [Email], [Mat_Khau], [Img_Avt], [Img_BG], [Trang_Thai], [Mo_Ta], [Ngay_Tao], [Bi_Danh]) VALUES (N'U000003', N'03', N'Ngô Minh', N'Nguyệt', NULL, NULL, NULL, N'minhnguyet@gmail.com', N'E10ADC3949BA59ABBE56E057F20F883E', NULL, NULL, 1, NULL, CAST(N'2022-04-20T09:21:05.347' AS DateTime), N'U000003')
GO
INSERT [dbo].[PhongThi] ([Ma_Phong], [Ma_Lop], [Ten_Phong], [Ngay_Tao], [Mat_Khau], [Ngay_Mo], [Ngay_Dong], [Luot_Thi], [Xem_Lai], [Thoi_Luong]) VALUES (N'fpv-gnj-laj-001', N'fpv-gnj-laj', N'Bài thi thử', CAST(N'2022-04-20T09:31:05.913' AS DateTime), N'abc123', CAST(N'2022-04-20T09:30:00.000' AS DateTime), CAST(N'2022-04-27T09:30:00.000' AS DateTime), 3, 1, 15)
INSERT [dbo].[PhongThi] ([Ma_Phong], [Ma_Lop], [Ten_Phong], [Ngay_Tao], [Mat_Khau], [Ngay_Mo], [Ngay_Dong], [Luot_Thi], [Xem_Lai], [Thoi_Luong]) VALUES (N'fpv-gnj-laj-002', N'fpv-gnj-laj', N'Bài thi demo', CAST(N'2022-11-24T12:08:16.297' AS DateTime), NULL, CAST(N'2022-11-24T12:07:00.000' AS DateTime), CAST(N'2022-11-25T12:07:00.000' AS DateTime), 10, 1, 40)
INSERT [dbo].[PhongThi] ([Ma_Phong], [Ma_Lop], [Ten_Phong], [Ngay_Tao], [Mat_Khau], [Ngay_Mo], [Ngay_Dong], [Luot_Thi], [Xem_Lai], [Thoi_Luong]) VALUES (N'fpv-gnj-laj-003', N'fpv-gnj-laj', N'Demo', CAST(N'2022-11-25T10:28:06.490' AS DateTime), NULL, CAST(N'2022-11-25T10:27:00.000' AS DateTime), CAST(N'2022-11-26T10:27:00.000' AS DateTime), 3, 0, 23)
GO
INSERT [dbo].[Tag] ([Ma_Tag], [Ten_Tag]) VALUES (N'CT001', N'Lập Trình Web')
INSERT [dbo].[Tag] ([Ma_Tag], [Ten_Tag]) VALUES (N'CT002', N'Lập Trình .Net')
INSERT [dbo].[Tag] ([Ma_Tag], [Ten_Tag]) VALUES (N'CT003', N'Lập Trình Java')
GO
INSERT [dbo].[ThichTrang] ([Ma_YT], [Nguoi_Dung], [Nguoi_Thich], [Thoi_Gian]) VALUES (N'U000002_0000001', N'U000002', N'U000006', CAST(N'2022-04-20T09:50:31.553' AS DateTime))
INSERT [dbo].[ThichTrang] ([Ma_YT], [Nguoi_Dung], [Nguoi_Thich], [Thoi_Gian]) VALUES (N'U000002_0000002', N'U000002', N'U000001', CAST(N'2022-11-20T00:29:31.190' AS DateTime))
GO
INSERT [dbo].[ThoiGianLamBai] ([Ma_ND], [Ma_Phong], [Lan_Thu], [Bat_Dau], [Ket_Thuc]) VALUES (N'U000002', N'fpv-gnj-laj-001', 1, CAST(N'2022-04-20T09:38:28.790' AS DateTime), CAST(N'2022-04-20T09:38:47.463' AS DateTime))
INSERT [dbo].[ThoiGianLamBai] ([Ma_ND], [Ma_Phong], [Lan_Thu], [Bat_Dau], [Ket_Thuc]) VALUES (N'U000002', N'fpv-gnj-laj-001', 2, CAST(N'2022-04-20T11:48:16.737' AS DateTime), CAST(N'2022-04-20T11:54:50.360' AS DateTime))
INSERT [dbo].[ThoiGianLamBai] ([Ma_ND], [Ma_Phong], [Lan_Thu], [Bat_Dau], [Ket_Thuc]) VALUES (N'U000002', N'tep-bje-sma-002', 1, CAST(N'2022-04-05T23:54:15.693' AS DateTime), NULL)
GO
INSERT [dbo].[ThongBao] ([Ma_TB], [Ma_ND], [Loai_TB], [Tieu_De], [Noi_Dung], [Thoi_Gian], [Trang_Thai], [Lien_Ket]) VALUES (N'00001', N'U000001', N'money', N'Từ chối rút tiền', N'Yêu cầu rút 10,000VNĐ lúc 11/19/2022 2:40 AM bị từ chối.', CAST(N'2022-11-19T02:56:02.300' AS DateTime), 0, N'#')
INSERT [dbo].[ThongBao] ([Ma_TB], [Ma_ND], [Loai_TB], [Tieu_De], [Noi_Dung], [Thoi_Gian], [Trang_Thai], [Lien_Ket]) VALUES (N'00001', N'U000002', N'post', N'Bài đăng mới', N'Từ lớp: Lớp học đầu tiên', CAST(N'2022-04-14T22:37:11.187' AS DateTime), 1, N'Courses/Room/Detail?id=tep-bje-sma')
INSERT [dbo].[ThongBao] ([Ma_TB], [Ma_ND], [Loai_TB], [Tieu_De], [Noi_Dung], [Thoi_Gian], [Trang_Thai], [Lien_Ket]) VALUES (N'00001', N'U000003', N'post', N'Bài đăng mới', N'Từ lớp: Lập Trình Web Nâng Cao', CAST(N'2022-04-20T09:46:17.577' AS DateTime), 0, N'Courses/Room/Detail?id=fpv-gnj-laj')
GO
INSERT [dbo].[TinNhan] ([ID], [Nguoi_Gui], [Nguoi_Nhan], [Thoi_Gian], [Noi_Dung], [Trang_Thai]) VALUES (1, N'U000001', N'U000002', CAST(N'2022-04-15T00:00:00.000' AS DateTime), N'Xin chào', 1)
INSERT [dbo].[TinNhan] ([ID], [Nguoi_Gui], [Nguoi_Nhan], [Thoi_Gian], [Noi_Dung], [Trang_Thai]) VALUES (2, N'U000001', N'U000002', CAST(N'2022-04-16T00:00:00.000' AS DateTime), N'Bạn tên gì?', 1)
INSERT [dbo].[TinNhan] ([ID], [Nguoi_Gui], [Nguoi_Nhan], [Thoi_Gian], [Noi_Dung], [Trang_Thai]) VALUES (3, N'U000002', N'U000001', CAST(N'2022-04-18T00:00:00.000' AS DateTime), N'Chào bạn', 1)
GO
INSERT [dbo].[TrangThaiNangCap] ([Ma_ND], [Ma_Goi], [Ngay_Dang_Ky]) VALUES (N'U000001', 3, CAST(N'2022-11-25T08:28:59.743' AS DateTime))
GO
INSERT [dbo].[ViNguoiDung] ([Ma_ND], [So_Du], [Ngay_Mo], [Trang_Thai]) VALUES (N'U000001', 109191, CAST(N'2022-11-19T02:03:51.013' AS DateTime), 1)
INSERT [dbo].[ViNguoiDung] ([Ma_ND], [So_Du], [Ngay_Mo], [Trang_Thai]) VALUES (N'U000002', 34493, CAST(N'2022-11-20T16:05:50.783' AS DateTime), 1)
INSERT [dbo].[ViNguoiDung] ([Ma_ND], [So_Du], [Ngay_Mo], [Trang_Thai]) VALUES (N'U000006', 72000, CAST(N'2022-11-24T10:22:27.750' AS DateTime), 1)
GO
INSERT [dbo].[XemTrang] ([Ma_XT], [Nguoi_Dung], [Nguoi_Xem], [Thoi_Gian]) VALUES (N'U000001_0000001', N'U000001', N'U000002', CAST(N'2022-04-18T15:26:15.887' AS DateTime))
INSERT [dbo].[XemTrang] ([Ma_XT], [Nguoi_Dung], [Nguoi_Xem], [Thoi_Gian]) VALUES (N'U000002_0000001', N'U000002', N'U000001', CAST(N'2022-04-19T16:19:33.007' AS DateTime))
INSERT [dbo].[XemTrang] ([Ma_XT], [Nguoi_Dung], [Nguoi_Xem], [Thoi_Gian]) VALUES (N'U000002_0000002', N'U000002', N'U000006', CAST(N'2022-04-20T09:50:21.323' AS DateTime))
GO
INSERT [dbo].[YeuCauThanhToan] ([Ma_ND], [Loai_Thanh_Toan], [So_Tai_Khoan], [So_Tien], [Trang_Thai], [Thoi_Gian], [Ghi_Chu]) VALUES (N'U000001', N'MoMo', NULL, 10000, 0, CAST(N'2022-11-19T02:40:44.830' AS DateTime), N'không đủ thông tin cá nhân')
INSERT [dbo].[YeuCauThanhToan] ([Ma_ND], [Loai_Thanh_Toan], [So_Tai_Khoan], [So_Tien], [Trang_Thai], [Thoi_Gian], [Ghi_Chu]) VALUES (N'U000002', N'MoMo', NULL, 10000, 0, CAST(N'2022-11-24T13:07:35.713' AS DateTime), N'ddddd')
INSERT [dbo].[YeuCauThanhToan] ([Ma_ND], [Loai_Thanh_Toan], [So_Tai_Khoan], [So_Tien], [Trang_Thai], [Thoi_Gian], [Ghi_Chu]) VALUES (N'U000002', N'AgriBank', N'1111111111111111', 10000, 1, CAST(N'2022-11-24T13:07:43.837' AS DateTime), NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LopHoc__7F28B28B0A77FDC1]    Script Date: 11/15/2024 5:46:27 PM ******/
ALTER TABLE [dbo].[LopHoc] ADD UNIQUE NONCLUSTERED 
(
	[Bi_Danh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__7F28B28B8ACDB49D]    Script Date: 11/15/2024 5:46:27 PM ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[Bi_Danh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__A9D10534BC135B27]    Script Date: 11/15/2024 5:46:27 PM ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaiDang]  WITH CHECK ADD FOREIGN KEY([Ma_Lop])
REFERENCES [dbo].[LopHoc] ([Ma_Lop])
GO
ALTER TABLE [dbo].[BaiDang]  WITH CHECK ADD FOREIGN KEY([Ma_ND])
REFERENCES [dbo].[NguoiDung] ([Ma_ND])
GO
ALTER TABLE [dbo].[BaoCao]  WITH CHECK ADD FOREIGN KEY([Ma_ND])
REFERENCES [dbo].[NguoiDung] ([Ma_ND])
GO
ALTER TABLE [dbo].[BiCamThi]  WITH CHECK ADD FOREIGN KEY([Ma_ND])
REFERENCES [dbo].[NguoiDung] ([Ma_ND])
GO
ALTER TABLE [dbo].[BiCamThi]  WITH CHECK ADD FOREIGN KEY([Ma_Phong])
REFERENCES [dbo].[PhongThi] ([Ma_Phong])
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD FOREIGN KEY([Ma_Bai])
REFERENCES [dbo].[BaiDang] ([Ma_Bai])
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD FOREIGN KEY([Ma_ND])
REFERENCES [dbo].[NguoiDung] ([Ma_ND])
GO
ALTER TABLE [dbo].[CamXuc]  WITH CHECK ADD FOREIGN KEY([Ma_Bai])
REFERENCES [dbo].[BaiDang] ([Ma_Bai])
GO
ALTER TABLE [dbo].[CamXuc]  WITH CHECK ADD FOREIGN KEY([Ma_ND])
REFERENCES [dbo].[NguoiDung] ([Ma_ND])
GO
ALTER TABLE [dbo].[CauHoiThi]  WITH CHECK ADD FOREIGN KEY([Ma_Phong])
REFERENCES [dbo].[PhongThi] ([Ma_Phong])
GO
ALTER TABLE [dbo].[CauTraLoi]  WITH CHECK ADD FOREIGN KEY([STT], [Ma_Phong])
REFERENCES [dbo].[CauHoiThi] ([STT], [Ma_Phong])
GO
ALTER TABLE [dbo].[CauTraLoi]  WITH CHECK ADD FOREIGN KEY([Ma_ND])
REFERENCES [dbo].[NguoiDung] ([Ma_ND])
GO
ALTER TABLE [dbo].[DanhGiaLop]  WITH CHECK ADD FOREIGN KEY([Ma_Lop])
REFERENCES [dbo].[LopHoc] ([Ma_Lop])
GO
ALTER TABLE [dbo].[DanhGiaLop]  WITH CHECK ADD FOREIGN KEY([Ma_ND])
REFERENCES [dbo].[NguoiDung] ([Ma_ND])
GO
ALTER TABLE [dbo].[Ghim]  WITH CHECK ADD FOREIGN KEY([Ma_Bai])
REFERENCES [dbo].[BaiDang] ([Ma_Bai])
GO
ALTER TABLE [dbo].[HocSinhThuocLop]  WITH CHECK ADD FOREIGN KEY([Ma_Lop])
REFERENCES [dbo].[LopHoc] ([Ma_Lop])
GO
ALTER TABLE [dbo].[HocSinhThuocLop]  WITH CHECK ADD FOREIGN KEY([Ma_ND])
REFERENCES [dbo].[NguoiDung] ([Ma_ND])
GO
ALTER TABLE [dbo].[LichSuGiaoDich]  WITH CHECK ADD FOREIGN KEY([Ma_ND])
REFERENCES [dbo].[NguoiDung] ([Ma_ND])
GO
ALTER TABLE [dbo].[LichSuTruyCap]  WITH CHECK ADD FOREIGN KEY([Ma_Lop])
REFERENCES [dbo].[LopHoc] ([Ma_Lop])
GO
ALTER TABLE [dbo].[LichSuTruyCap]  WITH CHECK ADD FOREIGN KEY([Ma_ND])
REFERENCES [dbo].[NguoiDung] ([Ma_ND])
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD FOREIGN KEY([Ma_ND])
REFERENCES [dbo].[NguoiDung] ([Ma_ND])
GO
ALTER TABLE [dbo].[LopThuocTag]  WITH CHECK ADD FOREIGN KEY([Ma_Lop])
REFERENCES [dbo].[LopHoc] ([Ma_Lop])
GO
ALTER TABLE [dbo].[LopThuocTag]  WITH CHECK ADD FOREIGN KEY([Ma_Tag])
REFERENCES [dbo].[Tag] ([Ma_Tag])
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD FOREIGN KEY([Ma_Loai])
REFERENCES [dbo].[LoaiND] ([Ma_Loai])
GO
ALTER TABLE [dbo].[PheDuyet]  WITH CHECK ADD FOREIGN KEY([Ma_ND])
REFERENCES [dbo].[NguoiDung] ([Ma_ND])
GO
ALTER TABLE [dbo].[PhongThi]  WITH CHECK ADD FOREIGN KEY([Ma_Lop])
REFERENCES [dbo].[LopHoc] ([Ma_Lop])
GO
ALTER TABLE [dbo].[ThichTrang]  WITH CHECK ADD FOREIGN KEY([Nguoi_Dung])
REFERENCES [dbo].[NguoiDung] ([Ma_ND])
GO
ALTER TABLE [dbo].[ThichTrang]  WITH CHECK ADD FOREIGN KEY([Nguoi_Thich])
REFERENCES [dbo].[NguoiDung] ([Ma_ND])
GO
ALTER TABLE [dbo].[ThoiGianLamBai]  WITH CHECK ADD FOREIGN KEY([Ma_ND])
REFERENCES [dbo].[NguoiDung] ([Ma_ND])
GO
ALTER TABLE [dbo].[ThoiGianLamBai]  WITH CHECK ADD FOREIGN KEY([Ma_Phong])
REFERENCES [dbo].[PhongThi] ([Ma_Phong])
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD FOREIGN KEY([Ma_ND])
REFERENCES [dbo].[NguoiDung] ([Ma_ND])
GO
ALTER TABLE [dbo].[TinNhan]  WITH CHECK ADD FOREIGN KEY([Nguoi_Gui])
REFERENCES [dbo].[NguoiDung] ([Ma_ND])
GO
ALTER TABLE [dbo].[TinNhan]  WITH CHECK ADD FOREIGN KEY([Nguoi_Nhan])
REFERENCES [dbo].[NguoiDung] ([Ma_ND])
GO
ALTER TABLE [dbo].[TrangThaiNangCap]  WITH CHECK ADD FOREIGN KEY([Ma_Goi])
REFERENCES [dbo].[GoiNangCap] ([Ma_Goi])
GO
ALTER TABLE [dbo].[TrangThaiNangCap]  WITH CHECK ADD FOREIGN KEY([Ma_ND])
REFERENCES [dbo].[NguoiDung] ([Ma_ND])
GO
ALTER TABLE [dbo].[ViNguoiDung]  WITH CHECK ADD FOREIGN KEY([Ma_ND])
REFERENCES [dbo].[NguoiDung] ([Ma_ND])
GO
ALTER TABLE [dbo].[XemTrang]  WITH CHECK ADD FOREIGN KEY([Nguoi_Dung])
REFERENCES [dbo].[NguoiDung] ([Ma_ND])
GO
ALTER TABLE [dbo].[XemTrang]  WITH CHECK ADD FOREIGN KEY([Nguoi_Xem])
REFERENCES [dbo].[NguoiDung] ([Ma_ND])
GO
ALTER TABLE [dbo].[YeuCauThanhToan]  WITH CHECK ADD FOREIGN KEY([Ma_ND])
REFERENCES [dbo].[NguoiDung] ([Ma_ND])
GO
